NEXT_PUBLIC_SITE_URL=https://polesebarbershop.vercel.app
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
RESEND_API_KEY=
RESEND_FROM=Polese Barbershop <prenotazioni@polesebarbershop.it>
ADMIN_EMAIL=info@polesebarbershop.it
ADMIN_PASSWORD=
